* {
    box-sizing: border-box;
    margin: auto;

}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 2%;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: burlywood;
    text-shadow: 2px 2px 5px #000;

}

.card demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.navbar {
    color: antiquewhite;
}

.left {
    text-align: left;
}

.item1, .item4 {
    grid-column:span 2;
}

.item2, .item3 {
    grid-column: span 1;
}

img {
    width: 100%;
}