* {
    box-sizing: border-box;
    margin: auto;

}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 2%;
}

.grid-parent1 {
    display: grid;
    padding-top: 5px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20%;
    grid-row-gap: 2%;
}

.item5, .item8 {
    background-position: center;
    grid-column: span 2;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: skyblue;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    text-align: center;
}

.card demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.navbar {
    color: antiquewhite;
}

.left {
    text-align: left;
}

.item1,
.item4 {
    grid-column: span 2;
}

.item2,
.item3 {
    grid-column: span 1;
}

img {
    width: 100%;
}


.navbar-inner,
.toolbar-inner {
    background: #000;
}

.item3 {
    font-style: italic;
}
